@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Signika:wght@600;700&display=swap');

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8ff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading img {
width: 10vw;
margin: 0, auto;
}

#loading.hide {
  display: none;
}


/* Set body background color */
body {
  height: -webkit-fill-available;
  overflow: hidden;
   background-color: #f8f8ff;
  font-family: 'Bruno Ace SC', cursive;
  position: fixed;
}

#time {
  margin: 8px;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
}

#logo {
            margin: 8px;
            position: fixed;
            top: 0;
            right: 0;
        }
       
#logo-link {
    text-decoration: none;
    color: inherit;
}

/* Center gas price container vertically and horizontally */
.gas-price-container {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the "Current Ethereum Gas Price" text */
.gas-price-container p {
  font-size: 1rem;
  color: black;
  text-align: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10%{
    opacity: 1;
  }
  50% {
    opacity: 0.47;
  }
  90%{
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


/* Style the gas price */
#gasPrice {
  animation: blink 5s ease-in-out infinite;
  font-size: 20vw;
  text-align: center;
}

#current-stmt {
  font-size: 2vw;
    margin-bottom: -3rem;
}

/* Style the gwei title */
#gwei-title {
  font-size: calc(20vw/3);
  text-align: center;
  margin-top: -3rem;
}


.high-gas {
    color: #ed1c24;
}

.medium-gas {
    color: #fada5e;
}

.low-gas {
    color: #00ff7f;
}

footer {
      position: fixed;
      padding-bottom: env(safe-area-inset-bottom);
      left: 0;
      bottom: 0;
      background-color: #f0f0ff;
      width: 100%;
      color: black;
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 12px;
    }

.footer-link {
  text-decoration: none;
  color: blue;
}

@media only screen and (max-width: 600px) {
  #loading img {
    width: 30vw;
    }

  body {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
  }

.gas-price-container {
  margin-top: -1rem;
}

  #gasPrice {
  font-size: 50vw;
}

#current-stmt {
  font-size: 5.5vw;
    margin-bottom: -3rem;
}

/* Style the gwei title */
#gwei-title {
  font-size: calc(50vw/3);
  text-align: center;
  margin-top: -3rem;
}
  }


  /* Small devices (landscape phones, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px){
   
   #loading img {
    width: 30vw;
   }

   body {
     overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
 
  }

  .gas-price-container {
  margin-top: -1rem;
}

  #gasPrice {
  font-size: 50vw;
}

#current-stmt {
  font-size: 5vw;
    margin-bottom: -3rem;
}

/* Style the gwei title */
#gwei-title {
  font-size: calc(50vw/3);
  text-align: center;
  margin-top: -3rem;
}

}

