@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Signika:wght@600;700&display=swap');

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8ff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode #loading{
  background-color:#1F0935;
}

#loading img {
width: 10vw;
margin: 0, auto;
margin-top: -5rem;
}

#loading.hide {
  display: none;
}


/* Set body background color */
body {
  height: -webkit-fill-available;
  overflow: hidden;
   background-color: #f8f8ff;
  font-family: 'Bruno Ace SC', cursive;
  position: fixed;
}

#time {
  margin: 8px;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
}

#logo {     
  margin: 8px;
  position: fixed;
  top: 0;
  right: 0;
  cursor: default;
  }


  .return-arw{
    height: 13px;
  }
  .dark-mode .return-arw{
    filter:invert(1);
  }
  .demo-video{
    height: 97vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .demo-video video{
    height: 70vh;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }


  .info-icon{
    height: 13px;
    cursor: pointer;
  }

  .info-icon-dark{
    filter: invert(1);
  }

  #tooltip {
  display: none;
  position: absolute;
  top: 15px;
  right: 0;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #f0f0ff;
  box-shadow: gray;
  color: black;
  border-radius: 10px;
  width: 180px;
  font-family: Arial, sans-serif;
      font-size: 12px;
      line-height: 18px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* Add additional styling for the tooltip here */
}
#logo:hover #tooltip{
  display: block;
}
#logo:focus #tooltip{
  display: block;
}
#logo:active #tooltip{
  display: block;
}

.dark-mode #tooltip {
  background-color: #1F0925;
  box-shadow: gray;
  color: white;
  border-radius: 10px;
  width: 180px;
  font-family: Arial, sans-serif;
      font-size: 12px;
      line-height: 18px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* Add additional styling for the tooltip here */
}

.demo{
  text-decoration: none;
  color: purple;
}
.dark-mode .demo{
  text-decoration: none;
  color: lightblue;
}

#logo-link {
    text-decoration: none;
    color: inherit;
}

/* Center gas price container vertically and horizontally */
.gas-price-container {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

/* Style the "Current Ethereum Gas Price" text */
.gas-price-container p {
  font-size: 1rem;
  text-align: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10%{
    opacity: 1;
  }
  50% {
    opacity: 0.47;
  }
  90%{
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


/* Style the gas price */
#gasPrice {
  animation: blink 5s ease-in-out infinite;
  font-size: 18vw;
  text-align: center;
}

#current-stmt {
  font-size: 2vw;
    margin-bottom: -3rem;
}

/* Style the gwei title */
#gwei-title {
  font-size: calc(20vw/3);
  text-align: center;
  margin-top: -3rem;
}


.high-gas {
    color: #ed1c24;
}

.medium-gas {
    color: #ffc40c;
    text-shadow: 0 0 0.1rem #ffc40c;

}

.low-gas {
    color: #00ff7f;
}


.dark-mode {
  background-color: #1F0935;
  color: white;
}

.dark-mode .info-icon{
  filter:invert(1);
}

#dark-mode-toggle {
    position: fixed;
  bottom: 50px;
  right: 20px;
    display: flex;
    width: auto;
    background-color: #f0f0ff; /* Background color for the toggle container */
    border-radius: 20px;
    padding: 5px;
    padding-bottom: env(safe-area-inset-bottom);
}
@supports (-webkit-touch-callout: none) {
  /* Add a margin bottom for the toggle only in PWA (Apple devices) */
  #dark-mode-toggle {
    margin-bottom: 20px;
  }

/* Icon styles */
.toggle-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.dark-mode #dark-mode-toggle{
  background-color: #1F0925;
}
.dark-mode .toggle-icon{
  filter: invert(1);
}

.dark-mode footer{
  background-color: #1F0925;
  color: white;
}

.dark-mode .footer-link{
  color: lightblue;
}


footer {
      position: fixed;
      padding-bottom: env(safe-area-inset-bottom);
      left: 0;
      bottom: 0;
      background-color: #f0f0ff;
      width: 100%;
      color: black;
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 12px;
    }

.footer-link {
  text-decoration: none;
  color: purple;
}

@media only screen and (max-width: 600px) {
  #loading img {
    width: 30vw;
    }

  body {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
  }

.gas-price-container {
  margin-top: -1rem;
}

  #gasPrice {
  font-size: 42vw;
}

#current-stmt {
  font-size: 5.5vw;
    margin-bottom: -3rem;
}

/* Style the gwei title */
#gwei-title {
  font-size: calc(50vw/3);
  text-align: center;
  margin-top: -3rem;
}

#dark-mode-toggle{
    right: 5px;
}

#tooltip {
  width: 155px;
  top:25px;
  transform: translateX(0%);
}
.dark-mode #tooltip{
width: 155px;
top:25px;
transform: translateX(0%);
}
  }

  /* Small devices (landscape phones, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px){
   
   #loading img {
    width: 30vw;
   }

   body {
     overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
 
  }

  .gas-price-container {
  margin-top: -1rem;
}

  #gasPrice {
  font-size: 42vw;
}

#current-stmt {
  font-size: 5vw;
    margin-bottom: -3rem;
}

/* Style the gwei title */
#gwei-title {
  font-size: calc(50vw/3);
  text-align: center;
  margin-top: -3rem;
}

}

